<div class="banner" style="background-image: linear-gradient(rgba(100,100,100,0.8),rgba(100,100,100,0.4)), url(https://images.unsplash.com/photo-1547059470-3b0c7cd958a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80)">
  <h1>Create yours!</h1>
  <div class=" container mt-3">
    <%= simple_form_for [@cocktail] do |f| %>
      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Save my cocktail", class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>
